{% extends 'base.html.twig' %}

{% block title %}Hello RankingController!{% endblock %}

{% block body %}
<div class='container_ranking'>
    <h1 class='text-2xl text-center'>Classement des joueurs</h1>
    <div class='container_filterRanking text-xl flex flex-row justify-around'>
        <a class='btn-large' href="#filtreBlitz">Classement Blitz</a>
        <a class='btn-large' href="#filtreClassic">Classement Classic</a>
        <a class='btn-large' href="#filtreBullet">Classement Bullet</a>
        <a class='btn-large' href="#filtreEnDifféré">Classement En différé</a>
    </div>
    <div class="container_card">  
        <div class="card">
            <img src="{{ player.avatar }}" alt="avatar">
            <div class="content">
                <div class="txt">Pseudo : {{ player.username }}</div>
                <div class="txt">Score : {{ playerStatistic.chess_blitz.last.rating }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
