@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$body: #FAFAFA;

body {
    background-color: $body;
    h1 {
        font-size: 5rem;
    }
}

@layer components {
    .container_card {
        @apply p-10 w-1/3;
        .card {
            @apply max-w-sm rounded overflow-hidden shadow-lg;
            img {
                @apply w-full;
            }
            .content {
                @apply px-6 py-4;
            }
            .txt {
                @apply font-bold text-xl mb-2 text-center;
            }
        }   
    }

    .btn {
        @apply px-4 py-2 w-40 bg-blue-500 hover:bg-blue-600 text-white rounded shadow-md;
    }
}