@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$body: #FAFAFA;

body {
    background-color: $body;
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }
}

@layer components {
    .container_card {
        @apply p-10 w-1/3;
        .card {
            @apply max-w-sm rounded overflow-hidden shadow-lg;
            img {
                @apply w-full;
            }
            .content {
                @apply px-6 py-4;
            }
            .txt {
                @apply font-bold text-xl mb-2 text-center;
            }
        }   
    }

    .btn {
        @apply px-4 py-2 w-40 bg-blue-500 hover:bg-blue-600 text-white rounded shadow-md;
    }

    .card_individual {
        @apply flex content-center flex-row rounded overflow-hidden shadow-lg w-5/6;
        .card_avatar {
            @apply w-2/6 items-center;
        }
        .card_stats {
            @apply w-2/6;
            .title {
                @apply font-bold text-xl py-4;
            }
            div {
                @apply text-xl py-3;
            }
        }
    }

    .container_form {
        @apply flex flex-col justify-center items-center;
        .form {
            @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col w-2/3 mt-40;
            .label {
                @apply block text-gray-900 text-xl font-bold mb-2;
            }
            .input {
                @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-900;
            }
        }
    }
}